<section class="container contact" id="contact">
    <div class="contact-container">
        <div class="main-title">
            <h2>Contacta <span>me</span><span class="bg-text">Contactame</span></h2>
        </div>
        <div class="contact-content-con">
            <div class="left-contact">
                <h4>Contáctame por acá!</h4>
                <p>
                    Puedes pedirme cualquier información por este medio, también ponerte en comunicación conmigo para agendar una llamada para responderte tus inquietudes, con gusto te atenderé
                </p>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Locacion:</span>
                        </div>
                        <p>
                            Santo Domingo, Republica Dominicana
                        </p>
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                            <span>Email:</span>
                        </div>
                        <p>
                            <span> darvinrodriguez@necodt.com</span>
                        </p>
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                            <span>Educacion:</span>
                        </div>
                        <p>
                            <span> Instituto superior comunitario, Santo Domingo </span>
                        </p>
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                            <span>Numero Telefonico:</span>
                        </div>
                        <p>
                            <span> +1 (809) 416-0897</span>
                        </p>
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-globe-africa"></i>
                            <span>Lenguaje:</span>
                        </div>
                        <p>
                            <span> Español, Ingles</span>
                        </p>
                    </div>
                </div>
                <div class="contact-icons">
                    <div class="contact-icon">
                        <a href="https://www.facebook.com/DarvinER/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/Darvinrod10" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://github.com/Darvin1223" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/darvin-emil-rodriguez-nu%C3%B1ez-/"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-contact">
                <form id="form" class="contact-form">
                    <div class="input-control i-c-2">
                        <input type="text" id="fullName" required placeholder="Nombre Completo">
                        <input type="email" id="email" required placeholder="Correo Electronico">
                    </div>
                    <div class="input-control">
                        <input type="text" id="subject" required placeholder="Proposito">
                    </div>
                    <div class="input-control">
                        <textarea id="message" cols="15" rows="8" placeholder="Mensaje..."></textarea>
                    </div>
                    <div class="btns">
                        <div class="submit-btn">
                            <a href="/Resumen-Darvin-Rodriguez" target="_blank" class="main-btn">
                                <span class="btn-text">Descargar CV</span>
                                <span class="btn-icon"><i class="fas fa-download"></i></span>
                            </a>
                        </div>
                        <div class="submit-btn">
                            <input type="submit" class="btn btn-submit" value="Enviar">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>