<section class="container" id="portfolio">
    <div class="main-title">
        <h2>Mi <span>Portfolio</span><span class="bg-text">Mis ultimos trabajos</span></h2>
    </div>
    <p class="port-text">
        Aqui algunos de mis projectos como desarrollador tanto personal como para clientes.
    </p>
    <div class="portfolios">
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/img/portafolio/hechos.webp" alt="">
            </div>
            <div class="hover-items">
                <h3>Periodico Digital</h3>
                <p class="portafolio-tecnologia">tecnologias:
                    <ul class="portafolio-tecnologia__list">
                        <li>wordpress</li>
                    </ul>
                </p>
                <div class="icons">
                    <!-- <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-globe"></i>
                    </a> -->
                    <!-- <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a> -->
                    <a href="https://hechos.ar/" target="_blank" class="icon">
                        <i class="fas fa-globe"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/img/portafolio/BaniRisidence.webp" alt="">
            </div>
            <div class="hover-items">
                <h3>Proyecto Inmobiliario</h3>
                <p class="portafolio-tecnologia">tecnologias:

                </p>
                <ul class="portafolio-tecnologia__list">
                    <li>HTML</li>-
                    <li>CSS</li>-
                    <li>JS</li>
                </ul>
                <!-- <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-globe"></i>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/img/portafolio/cpcipc.webp" alt="">
            </div>
            <div class="hover-items">
                <h3>Plataforma Educativa</h3>
                <ul class="portafolio-tecnologia__list">
                    <li>wordpress</li>
                </ul>
                <!-- <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/img/portafolio/Grupotodoterreno.webp" alt="">
            </div>
            <div class="hover-items">
                <h3>Inmobiliario</h3>
                <ul class="portafolio-tecnologia__list">
                    <li>HTML</li>-
                    <li>CSS</li>-
                    <li>JS</li>-
                    <li>SQL</li>-
                    <li>NODEJS</li>
                </ul>
                <!-- <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/img/portafolio/katerin.webp" alt="">
            </div>
            <div class="hover-items">
                <h3>Pagina Web personal</h3>
                <ul class="portafolio-tecnologia__list">
                    <li>HTML</li>-
                    <li>CSS</li>-
                    <li>PHP</li>-
                    <li>SQL</li>
                </ul>
                <div class="icons">
                    <!-- <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a> -->
                    <a href="https://kathestevez.com/" target="_blank" class="icon">
                        <i class="fas fa-globe"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/img/portafolio/residencialAtlantis.webp" alt="">
            </div>
            <div class="hover-items">
                <h3>Proyecto Inmobiliario</h3>
                <ul class="portafolio-tecnologia__list">
                    <li>HTML</li>-
                    <li>CSS</li>-
                    <li>JS</li>
                </ul>
                <!-- <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/img/portafolio/susana.webp" alt="">
            </div>
            <div class="hover-items">
                <h3>Proyecto Inmobiliario</h3>
                <ul class="portafolio-tecnologia__list">
                    <li>HTML</li>-
                    <li>CSS</li>-
                    <li>JS</li>
                </ul>
                <!-- <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</section>