<section class="container" id="portfolio">
  <div class="main-title">
    <h2>
      Mi <span>Portfolio</span><span class="bg-text">Mis ultimos trabajos</span>
    </h2>
  </div>
  <p class="port-text">
    Aqui algunos de mis projectos como desarrollador tanto personal como para
    clientes.
  </p>
  <div class="portfolios">
    <% portafolios.forEach(portafolio => { %>
    <div class="portfolio-item">
      <div class="image">
        <img
          src="assets/img_projects/<%= portafolio.portafolie_img %> "
          alt=""
        />
      </div>
      <div class="hover-items">
        <h3><%= portafolio.portafolie_name %></h3>
        <!-- <p class="portafolio-tecnologia">tecnologias:
                            <ul class="portafolio-tecnologia__list">
                                <li>wordpress</li>
                            </ul>
                        </p> -->
        <div class="icons">
          <!-- <a href="#" class="icon">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fas fa-globe"></i>
                            </a> -->
          <!-- <a href="#" class="icon">
                                <i class="fab fa-youtube"></i>
                            </a> -->
          <a
            href="<%= portafolio.portafolie_url %> "
            target="_blank"
            class="icon"
          >
            <i class="fas fa-globe"></i>
          </a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>
