<div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0 d-flex justify-content-between">
          <h3 class="mb-0">Mis proyectos</h3>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Agregar
          </button>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th  class="sort" data-sort="name">Nombre del proyecto</th>
                <th  class="sort" data-sort="budget">URL</th>
                <!-- <th scope="col" class="sort" data-sort="status">estado</th> -->
                <!-- <th scope="col" class="sort" data-sort="completion">Completion</th> -->
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody class="list">
              <% if(results == null || results == ""){ %>
                <p>No hay datos que mostrar</p>
              <% }else{ %>
                <% results.forEach(result => { %>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="name mb-0 text-sm"><%= result.portafolie_name %> </span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      <a href="#"><%= result.portafolie_url %></a>
                    </td>
                    <!-- <td class="text-right">
                      <button class="btn btn-success" data-target="#exampleModal">Agregar foto</button>
                      
                    </td> -->
                    <td class="text-right">
                      <a href="" class="btn btn-danger">Eliminar</a>
                    </td>
                  </tr>
               <% }); %> 
                <% } %> 
            </tbody>
          </table>
        </div>
        <!-- Card footer -->
      
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/upload_project" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    >Nombre del proyecto</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="title"
                  placeholder="Nombre del proyecto"
                  aria-label="Nombre del proyecto"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon4">URL</span>
                </div>
               <input type="url" class="form-control"
               name="url_proyecto"
               id="url_proyecto"
               placeholder="URL del proyecto"
               aria-label="URL del proyecto"
               aria-describedby="basic-addon4">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon5">Imagen del proyecto</span>
                </div>
                <input type="file" name="proyecto_img" id="proyecto_img" class="form-control">
              </div>
            </div>
      
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
              <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>
          </form>
        </div>
      
      </div>
    </div>
  </div>