.btn-certificado{
    border: solid 1px #fff;
    border-radius: 4px;
}
.texto-centrado{
    text-align: center;
}
.portfolios .portfolio-item .hover-items h3.title_certificate{
    font-size: 20px;
}